<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <title>Lista</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>
<div class="wrap">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Lista zadań</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Dodaj nowe zadanie..." aria-label="Search">
                        <button class="btn btn-default" type="button"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                    </form>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item">
                    <a href="#"><i class="fa fa-cog" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item">


                    <form th:action="@{/logout}" method="post">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        <input type="submit" value="Wyloguj">
                    </form>
                </li>
            </ul>

        </div>
    </nav>
    <div class="sidenav">
        <h3 align="center"> Listy </h3>
        <hr>
        <a href="#">Dom</a>
        <a href="#">Praca</a>
        <a href="#">Zakupy</a>
        <a href="#">Uczelnia</a>
    </div>

    <div class="main">
        <div class="container-fluid  h-100 full-width">

            <div class="row">
                <div class="col-12 welcome" align="center"> <h1 style="font-size:2.8em;" class="text-capitalize"> Witaj, [[${#request.userPrincipal.principal.Name}]]</h1> </div>
                <div class="col-12 tasks" align="center"> <div style="font-size: 1.8em; font-weight:light;"> Masz do zrobienia 8 rzeczy</div> </div>

                <!-- Force next columns to break to new line at md breakpoint and up -->
                <div class="w-100 d-none d-md-block"></div>

                <div class="col-6 col-sm-4"></div>
                <div class="col-6 col-sm-4"></div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <h5 class="card-title text-primary font-weight-bold text-uppercase">Dom</h5>

                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Poodkurzać
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                        <label class="form-check-label" for="flexCheckChecked">
                                            Umyć naczynia
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Wyjść z psem
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Wykonano:
                                    </div>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">33%</div>
                                        </div>
                                        <div class="col">
                                            <div class="progress progress-sm mr-2">
                                                <div class="progress-bar bg-info" role="progressbar"
                                                     style="width: 33%" aria-valuenow="33" aria-valuemin="0"
                                                     aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
</body>
</html>




<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://thymeleaf.org" lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Wszyscy użytkownicy</title>-->
<!--    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">-->
<!--</head>-->
<!--<body>-->
<!--<div>-->
<!--    <form th:action="@{/Logout}" method="post">-->
<!--        <p class="text-capitalize">-->
<!--            Witaj, <b>[[${#request.userPrincipal.principal.Name}]]</b>-->

<!--        </p>-->
<!--        <input type="submit" value="Wyloguj">-->
<!--    </form>-->
<!--</div>-->
<!--<div class="container text-center">-->
<!--    <h1> Lista użytkowników </h1>-->
<!--</div>-->
<!--<div>-->
<!--<table class="table table-striped table-bordered">-->
<!--<thead class="thead-dark">-->
<!--    <tr>-->
<!--        <th>User ID</th>-->
<!--        <th>Login</th>-->
<!--    </tr>-->
<!--</thead>-->
<!--    <tbody>-->
<!--        <tr th:each="user: ${listUsers}">-->
<!--            <td th:text="${user.id}">User ID</td>-->
<!--            <td th:text="${user.login}">Login</td>-->

<!--        </tr>-->
<!--    </tbody>-->
<!--</table>-->

<!--</div>-->

<!--</body>-->
<!--</html>-->