
html {
     background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  font-family: roboto;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body
{
     height: 100%;
     background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.navbar a
{
	color:black;
}
.navbar
{
	z-index:100;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
  overflow-x: hidden;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
.nav-item
{
	margin-left: 20px;
}
/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #505050;
  display: block;
  margin-top: 10px;
  font-weight:bold!important;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {

	color: #505050;
    text-decoration: none;
	background-color: rgba(255, 255, 255, 0.5);
	margin-left:-10px;
	margin-right: -10px

}

input[type=checkbox]
{
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
}

.form-check
{
	padding-top: 5px!important;
	font-size:19px;
}

.main {
  margin-left: 160px;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.welcome
{
	margin-top: 1.2em;
	color:white;
}
.tasks
{
	margin-top: -10px;
	color: white;
	margin-bottom:20px;
}
hr
{

  border-top: 2px solid rgba(0, 0, 0, 0.6)!important;
}